#text{
    margin-top: -45px;
    margin-left: 550px;
    font-size: 13px;
    text-align: right;
    margin-right: 3%;
}
#linksencabezado{
  margin-left: 14%;  
  }
  header {
    width: 100%;
    box-sizing: border-box;
  }

  #divportada {
    box-sizing: border-box; /* incluye el borde y el relleno en la anchura y altura */
    width: 100%; /* ocupa todo el ancho disponible */
    padding: 0; /* quita el relleno por defecto */
    margin: 0; /* quita el margen por defecto */
    border: none; /* quita el borde por defecto */ 

  }

  
  #portada{
    width: 100%; /* Hace que la imagen ocupe todo el ancho de la página */
    max-height: 55vh; /* Establece una altura máxima del 25% del alto de la pantalla */
    object-fit: cover; /* Hace que la imagen se ajuste proporcionalmente para llenar el espacio disponible sin deformar la imagen */
    margin-top: -1px;
    filter: brightness(0.5);
  }
#titulo{
    margin-top: 150px;
    font-size: 15px;
    margin-right: 3%;
    text-align: right;
}

#orador{
    font-size: 25px;
  margin: 0 auto;
  width: 30%; /* Puedes ajustar este valor para cambiar el ancho del formulario */
}

#tabla{
      margin: 0 auto;
      width: 70%; /* Puedes ajustar este valor para cambiar el ancho del formulario */
    }
    #botones {
        margin-top: -20px;
        text-align: right;
        font-size: 15px; /* estilos para el botón */
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin-right: 2.9%;
     
      }

#divsteve{
margin-right: 10px; /* Agrega un margen a la derecha del div */
  margin-left: 90px; /* Agrega un margen a la izquierda del div */
  padding: 0;
  border-radius: 10px;
}
#divbill{
  margin-right: 10px; /* Agrega un margen a la derecha del div */
    margin-left: 10px; /* Agrega un margen a la izquierda del div */
    padding: 0;
    border-radius: 10px;
  }
#divada{
    margin-right: 90px; /* Agrega un margen a la derecha del div */
      margin-left: 10px; /* Agrega un margen a la izquierda del div */
      padding: 0;
      border-radius: 10px;
    }
 
#steve:hover {
    border: 3px solid rgba(173, 173, 173, 0.418);  
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Crea una sombra alrededor del div al pasar el cursor */
    border-radius: 10px;
  }
  #bill:hover {
    border: 3px solid rgba(173, 173, 173, 0.418);  
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Crea una sombra alrededor del div al pasar el cursor */
    border-radius: 10px;
  }  
  #ada:hover {
    border: 3px solid rgba(173, 173, 173, 0.418);  
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Crea una sombra alrededor del div al pasar el cursor */
    border-radius: 10px;
  }
#playa:hover{
    border: 3px solid rgba(173, 173, 173, 0.418);  
    box-shadow: 0 0 10px rgba(0,0,0,0.5);


}
#divplaya{
  width: 100%;
}
#oradorestit {

  margin-top: -1.45%;
}

#linksencabezado{
margin-left: 24%;
}
#divsteve{
  border: 0.5px solid rgb(194, 187, 187);
  border-radius: 10px;
}
#divbill{
  border: 0.5px solid rgb(194, 187, 187);
  border-radius: 10px;
}
#divada{
  border: 0.5px solid rgb(194, 187, 187);
  border-radius: 10px;
}
#textoada{
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
}
#textobill{
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
}
#textosteve{
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
}
#apellido {
  width: 296px;
  height: 40px;
}
#nombre {
  width: 296px;
  height: 40px;
}
#datos {
  width: 600px;
  height: 150px;
}
#enviar{
  width: 600px;
  cursor: pointer;
}
#piedepagina {
  background-image: linear-gradient(to right, #113d6d, #2753a7);
}
#linkpie{
  margin-right: 30px;
}
#encabezado{
  padding: 5%;
}
#oradoress{
  width: 70%; /* Establece el ancho del div al 50% del contenedor padre */
  height: 70%; /* Establece la altura del div al 50% del contenedor padre */
  margin: 0 auto; 
}

#buenosaires{
  font-size: 12.5px;
}
#botonconocemas{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 12.5px;
    cursor: pointer;
    float: left;
     
  }
  
 
